html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    background: #2663a8;
}

.navbar-brand {
    color: white;
}

#filtroCita {
    display: inline;
}
/*==================== Dropdown ====================*/
#cboCita {
    display: inline;
    float: right;
}

#btnCNuevo {
    float: right;
    margin-bottom: 5px;
    margin-top: 10px;
}

#txtTitulo {
    text-align: center;
}

.rounded {
    margin: auto;
}

.form-group {
    margin: auto;
}

#divBoton {
    margin-left: 69px 
}

.click-filas {
    cursor: pointer;
}

.container {
    margin-top: 20px;
}

.card-header {
    background-color: #2663a8;
    color: #ffffff; 
}

.table thead th {
    background-color: #2663a8; 
    color: #ffffff; 
}

.table thead th {
    border-color: #0056b3; 
}
